body {
			background-image:url(../img/wall.jpg);
			background-repeat:no-repeat;
			background-size:100% auto;
      height: 100%;
}

/* Scale icons */
animation: openAppIcons 0.3s forwards ease;
@keyframes openAppIcons {
  0%   { transform: scale(1.0); }
  100% { transform: scale(1.8); }
}

/* Show app */
animation: openApp 0.3s forwards ease;
@keyframes openApp {
  0%   { transform: scale(0.1); opacity: 0; }
  100% { transform: scale(1.0); opacity: 1; }
}
/* Scale icons */
animation: closeAppIcons 0.3s forwards ease;
@keyframes closeAppIcons {
  0%   { transform: scale(1.8); }
  100% { transform: scale(1.0); }
}

/* Hide app */
animation: closeApp 0.3s forwards ease;
@keyframes closeApp {
  0%   { transform: scale(1.0); opacity: 1; }
  100% { transform: scale(0.1); opacity: 0; }
}
footer {
  background-color: #333;
  color: white;
  width: 120%;
  height: 15%;
  bottom: 0;
  position:absolute;
  left:0;
  
}